/*main design and nav*/
@import url("http://fonts.cdnfonts.com/css/dot-matrix");

html {
  scroll-behavior: smooth;
}
.container-main {
  text-align: center;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0%;
  align-items: center;
}
a,
p,
a {
  color: white;
  font-family: "Dot Matrix", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
body {
  padding: 0vh;
}
.text {
  margin-left: 10%;
  margin-right: 10%;
}
footer {
  text-align: justify;
  color: white;
}

* {
  box-sizing: border-box;
}
.main_text {
  padding: 3.2vh;
  line-height: 1.6rem;
  font-size: 1rem;
  text-align: justify;
}

@media (min-width: 600px) {
  .figma {
    display: flex;
    margin: 0vh;
  }
}
#con_main {
  text-align: center;
}
/* figma trans*/

/**********curve**********************/
.curve {
  margin: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*

section{
            text-align: left;
            color:white;
            padding: 1rem 1rem 0;
            border-style:none none none none;
            border-width: 3px;
            margin: auto;
            font-size:0.7rem;
            text-align: center;
}
/*cookies*/
.cookie {
  padding: 5vh;
  font-size: 1rem;
  text-align: left;
  background-color: black;
}
.cookie h1 {
  color: white;
  padding: 2vh;
}
.cookie p {
  padding: 2vh;
  font-family: "Courier New", Courier, monospace;
}
.cookie .btns {
  padding: 2vh;
}
.cookie .btn {
  font-family: "Courier New", Courier, monospace;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 1rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  border-radius: 0.2rem;
}
.cookie .btn:hover {
  background-color: #000000;
}
.cookie .content a {
  font-family: "Courier New", Courier, monospace;
}
/*gmaes */
.game {
  background-color: gray;
}
.game_info {
  background-color: rgb(102, 102, 102);
  padding: 1rem;
  text-align: left;
}
.game_info li p {
  font-size: 1.2rem;
}

#demo {
  font-size: 1.5rem;
  color: white;
  line-height: 3.1rem;
  text-align: center;
  padding: 0.6rem;
}
/*button*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(35, 182, 79);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Dot Matrix", sans-serif;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
  transition: 0.3s;
  background-color: rgb(55, 236, 10);
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*embds*/

.form_main {
  padding: 1rem;
}
.text {
  padding: 1.1rem;
  text-align: left;
  word-spacing: 0.7rem;
  line-height: 1.5rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10.2em;
  width: 15.2em;
}
/* navbar*/
ul.topnav {
  list-style-type: none;
  margin: 0%;
  padding: 0rem;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

ul.topnav li {
  float: left;
}

ul.topnav p {
  font-size: 1.5em;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5rem 1.6rem;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(223, 135, 135);
  color: rgb(0, 0, 0);

  transition: 0.6s;
}

ul.topnav li a.active {
  background-color: rgb(230, 52, 52);
  color: black;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

img {
  padding: auto;
  pointer-events: none;
}

/*typing anim*/

/*frame animation*/

.typewriter {
  display: inline-block;
  font-family: "Dot Matrix", sans-serif;
  height: auto;
  width: auto;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(20, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid rgb(255, 0, 0);
  box-sizing: border-box;
  text-align: justify;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 0, 0);
  }
}

section {
  padding: 1rem;
}
footer {
  padding: 1.5rem;
}

/*intro Teach*/
.TechIntro {
  text-align: center;
  background-color: rgb(0, 155, 103);
  padding: 1rem;
}

.info p {
  font-size: 0.7rem;
}

.info {
  background-color: rgba(243, 229, 229, 0.603);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;
  width: auto;
  height: auto;
  box-shadow: 17px 19px 16px rgba(47, 54, 64, 0.39);
  transition: 1s;
  max-width: 100%;
}
.info:hover {
  box-shadow: 0.5rem 0.5rem rgb(219, 57, 57);
  background-color: black;
  transition: 600ms;
  padding: 2rem;
  margin: 0.2rem;
}

.info p {
  letter-spacing: 1px;
  color: rgb(243, 229, 229);
  font-size: 0.7rem;
}

ul li {
  color: white;
}
/*cookie*/
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #000000;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  padding: 2rem;
  transition: 400ms;
}

.cookie-container .active {
  bottom: 0%;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: #92a8d1;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 3rem 1rem;
  width: 4.5rem;
  height: 3.1rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}

.cookie-btn:hover {
  background-color: rgb(14, 236, 66);
}
