/*basic script*/

body {
    margin: 0%;
    background-color: black;
}

.container-main {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem;
    margin: 0%;
    align-items: center;
}

a {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
}

p {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.25em;
}

footer {
    text-align: justify;
    color: white;
}

section {
    text-align: left;
    color: white;
    padding: 1.2rem;
    border-style: solid none none none;
    border-width: 3px;
    margin: 0.4rem;
    font-size: 0.7rem;
}

#demo {
    font-size: 1em;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10.2em;
    width: 15.2em;
}


/* navbar*/

ul.topnav {
    list-style-type: none;
    margin: 0%;
    padding: 0.2rem;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgb(29, 29, 29);
    transition: 0.3s;
}

ul.topnav li a.active {
    background-color: #aa0404;
    border-radius: 0.2rem 0.2rem;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

ul.news {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.25em;
}