/*main design and nav*/
html{
    scroll-behavior: smooth;
}
.container-main{
    text-align:center;
    padding: 1.5rem 1rem 1rem 1rem;
    margin:0%;
    align-items:center;
}
a,p{
    color:white;
    font-family: 'Press Start 2P', cursive;
    font-size:0.9em;
    letter-spacing:0.1rem;    
}

.text{
    margin-left:10%;
    margin-right:10%;
}
footer{
text-align: justify;
color:white;
}


*{
    box-sizing: border-box;
}
.main_text{
    padding: 4vh;
    line-height: 1.6rem;
    font-size: 1rem;
    text-align: justify;
    
}

@media(min-width:600px) {
    .figma{
        display:flex;
        margin: 10vh;
    
    }
}
#con_main {
    text-align: center;
}  
/* figma trans*/

/**********curve**********************/    
.curve {
   margin:0%;background-size: cover;background-repeat:no-repeat;
   background-attachment:fixed;
   }
/*

section{
            text-align: left;
            color:white;
            padding: 1rem 1rem 0;
            border-style:none none none none;
            border-width: 3px;
            margin: auto;
            font-size:0.7rem;
            text-align: center;
}
/*cookies*/
.cookie{
padding:5vh;
font-size:1rem;
text-align: left;
background-color:black;
font-family: 'Courier New', Courier, monospace;
}
.cookie h1{
    color:white;
    padding:2vh;
}
.cookie p{
    padding:2vh;
    font-family: 'Courier New', Courier, monospace;
}
.cookie .btns{
    padding:2vh;
}
.cookie .btn{
    font-family:'Courier New', Courier, monospace;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  border-radius: 0.2rem;
}
.cookie .btn:hover{
  background-color: #000000;
}
.cookie .content a{
    font-family:'Courier New', Courier, monospace;
}
/*gmaes */
.game{
    background-color:gray;
    border-radius: 0.5rem;
    margin-left:10%;
    margin-right:10%;
}
.game_info{
    background-color: rgb(102, 102, 102);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align:left;
}
.game_info li p{
    font-size: 0.6rem;
}
#demo{
font-size:1.5rem;
color:white;
line-height: 2rem;
text-align:center;
padding: 0.5rem;
}
/*button*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(35, 182, 79);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover{
      transition: 0.3s;
    background-color: rgb(55, 236, 10);
  }
  .button:hover span {
    padding-right: 25px;
    
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  /*embds*/

   .form_main{
    padding:1rem;
    
   }
  .text{
    padding: 1.1rem;
    text-align:left;
    word-spacing:0.7rem;
    line-height: 1.5rem;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10.2em;
    width: 15.2em;
}
/* navbar*/
        ul.topnav {
        list-style-type: none;
        margin: 0%;
        padding: 0rem;
        overflow: hidden;
        background-color: rgb(10, 10, 10);
        }

        ul.topnav li {
            float: left;
        }

        ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1.4rem 1.6rem;
        text-decoration: none;
        }

        ul.topnav li a:hover:not(.active) {
            background-color: rgb(223, 135, 135);
            color:rgb(0, 0, 0);
            transition:0.6s;
            
        }

        ul.topnav li a.active {
            background-color: rgb(230, 52, 52);
            color:black;
            
        }

        ul.topnav li.right {
            float: right;
        }

        @media screen and (max-width: 600px) {
        ul.topnav li.right, 
        ul.topnav li {float: none;}
        }    
       
        img{
        padding: auto;
        pointer-events: none;
    }
    .nav_icon{
        height:1.5rem;
        width: 1.5rem;
        padding: 1rem 1rem;
    }

    /*typing anim*/

    /*frame animation*/
    
    

.typewriter {
	display: inline-block;
    font-family: 'Press Start 2P', cursive;
    height:auto;
    width: auto;
    
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 2s steps(20, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid rgb(255, 0, 0);
    box-sizing: border-box;
    text-align: justify;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(255, 0, 0); 
    }
}
/*bot navigation*/
.bot_nav{
    text-align:center;
    font-size:0.8rem;
}

.active{
    color:red;
}
/*scrolling text*/


section{
    padding: 1rem;
}
footer{
    padding: 1rem;
}